body {
  margin: 0px;
  background-color: #0a0a0a;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.php {
  color: rgb(184, 133, 5);
}

h1 {
  color: rgb(189, 141, 22);
}

h3 {
  color: rgb(189, 141, 22);
}

.card-title {
  font-weight: bold;
}

.logo {
  height: 150px;
  width: 170px;
  padding: 15px;
  margin: 5px;
}

.button-publier {
  background-color: rgb(228, 165, 7);
  color: black;
  font-weight: 900;
  border-radius: 15px;
  margin: 60px;
  padding: 20px;
  text-decoration: none;
}
#button:hover {
  background-color: rgb(184, 133, 5);
  color: rgb(206, 179, 110);
}

.navbar {
  background-color: #0a0a0a;
  border-color: #e2cd13;
}

.nav-link {
  color: rgb(184, 133, 5);
  font-size: 25px;
}

.nav-link:hover {
  color: rgb(219, 200, 151);
}

.bi-film {
  margin: 25px;
}
